.add-product-page{
    top: 0;
    left: 0;
    min-height: 1000px;
    width: 100%;
    padding: 15px 25px;
}

.add-product-container{
    background-color: #fff;
    width: 100%;
    padding: 25px 45px;
    box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
}
.btn-function{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.ipn-common-seller{
    display: flex;
}
.ipn-product-container{
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.ipn-product-container-error{
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    border-color: #ee4d2d !important;
    background-color: #FFF1F0;
}
.ipn-prefix {
    display: flex;
    align-items: center;
    color: #b7b7b7;
    height: 100%;
    font-size: 14px;
}
.ipn-product-name{
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    padding: 5px;
    color: #666;
}
.ipn-product-name-error{
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    padding: 5px;
    color: #666;
    background-color: #FFF1F0;
}
.txt-area-ipn{
    resize: none;
    height: 40px !important;
    color: #666;
    padding: 5px;
    overflow-y: scroll;
}
.ctg-select-ul{
    list-style: none;
    height: 133px;
    overflow-y: scroll;
    width: 50%;
}
#add-product-header-txt{
    font-size: 22px;
    color: #333;
}
.ctg-select{
    background-color: #fafafa;
    padding: 15px 10px;
}
.ctg-select-list{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    line-height: 32px;
    color: #666;
    padding:0px 16px;
    align-items: center;
    cursor: pointer;
}
.ctg-select-list:hover{
    background-color: rgb(221, 216, 216);
}
.ctg-selected-list{
    color: #ee4d2d !important;
}
.add-product-des{
    display: flex;
}
.des-txt-area-div{
    flex: 1;
    width: 100%;
    padding: 3px 5px;
    height: 196px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.des-txt-area-div-error{
    flex: 1;
    width: 100%;
    padding: 3px 5px;
    height: 196px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #FFF1F0 !important;
    border-color: #ee4d2d !important;
}
.des-txt-area{
    color: #666;
    font-size: 14px;
    width: 100%;
    border: 0;
    height: 190px;
    outline: none;
    resize: none;
}
.des-txt-area-error{
    height: 190px;
    color: #666;
    font-size: 14px;
    width: 100%;
    border: 0;
    outline: none;
    resize: none;
    background-color: #FFF1F0;
}
.ipn-label{
    flex: 0.2
}
.hidden{
    display: none;
}
.upload-img-div{
    height: 115px;
    width: 115px;
    border: 1px dashed #1791f2;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upload-img-div:hover{
    background-color: #b9d7f0;
}
.fa-plus-img{
    color: #1791f2;
    font-size: 24px;
}

.section-name{
    font-size: 18px;
    font-weight: 600;
}

.btn-a {
    border:1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
}

.btn-a:focus{
    outline: none;
}

.btn-cancel {
    background-color: #fff;
    color: #000
}

.btn-confirm {
    background-color: #f9502f;
}

.txt-title{
    font-weight: 400;
    color: #666;
}
.edit-product-header-txt{
    color: #333;
    font-size: 22px;
}