
.left-arrow{
    position: absolute;
    left: 10%;
    padding: 10px 5px;
}

.right-arrow{
    position: absolute;
    right: 10%;
    padding: 10px 5px;
}

.left-arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}

.right-arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}