.slider-wrapper, .slider{
    position: relative;
}

.left-arrow{
    position: absolute;
    left: 30px;
    padding: 10px 5px;
}

.right-arrow{
    position: absolute;
    right: 30px;
    padding: 10px 5px;
}

.left-arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}

.right-arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}