.p-cart{
    background-color: #fff;
    top:0;
    left:0;
}
.p-in-cart-content {
    margin-top: 150px;
}
.p-in-cart-container{    
    width: 100%;
    background-color: #fff;
    align-items: center;
    padding: 10px;
}

.coupon-btn-buy{ 
    width: 100%;
    justify-content: flex-end;
    background-color: #f5f5f5;
    padding: 10px 30px;
}

.ipn-cart{
    text-align: center;
    width: 20%;
}

.btn-common {
    border: none;
    border-radius: 3px;
    padding: 0.1rem;
    width: 20%;
    padding: 10px 0px;
    color: #fff;
    background-color: #f9502f;
}

.btn-common:focus{
    outline: none;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.p-in-cart-sum-price {
    text-align: end;
}