.ctg-page {
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}

.ctg-page-sort-bar{
    background-color: #ededed;
    align-items: center;
}
.btn-sort{
    width: 10%;
    padding: 3px;
}

select{
    background-color: #fff;
    padding: 3px;
}
.ctg-sort-item {
    position:  relative;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 5px 0px;
    padding: 5px;
}
.list-search-item a {
    text-decoration: none;
    color: inherit;
    flex-basis: 20%;
}

.ctg-sort-item:hover {
    transform: scale(1.01);
}
.list-search-item-price{
    color: #f9502f
}
.local-txt{
    font-size: 14px;
    color: #c2b7b7;
}

.discount-bagde {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,212,36,.9);
    padding: 2px 5px;
}

.txt-discount{
    color: #fff;
}

.discount-percent {
    color: #f9502f;
    font-weight: 700;
}
