.ck-container{
    background-color: #f5f5f5;
    left: 0;
    margin-top: 100px;
}
.i-map{
    color: #f9502f;
    font-size: 24px;
}
.txt-map {
    color: #f9502f;
}
.msg-trans-method{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.bl-ck {
    border-radius: 5px;
}
.msg-to-seller {
    flex: 1;
    border-right: 1px solid #f5f5f5;
}
.trans-method {
    flex: 2;
}
.trans-price {
    flex: 0.3;
}

.trans-name{
    flex: 2;
}

.trans-title{
    flex: 1;
}
.ck-price {
    display: flex;
    flex-direction: column;
    align-items : flex-end;
}
.bd-bot{
    border-bottom: 1px solid #f5f5f5;
}

.ck-price-i{
    line-height: 2.5rem;
    width: 30%;
    display: flex;
}
.ck-price-i>span{
    flex: 1
}

.check-out-empty{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}