.homepage {
    top: 0;
    margin: 0;
    background-color: #f5f5f5;
}
.slider{
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner{
    background-color: #f5f5f5;
    margin-top: 100px;
}
.left-arrow{
    cursor: pointer;
}
.right-arrow{
    cursor: pointer;
}

.category-section{
    padding: 12px;
    margin-top: 30px;
    background-color: #fff;
    height: 100%
}
.category-item{
    padding: 5px;
    border: 1px solid #f5f5f5;
    text-align: center;
}
.category-header{
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    font-weight: 500;
}
