
.popup-content{
  border-radius: 3px;
  width: 40%;
}

.login-container{
  color:#000;
  padding: 0px 30px; 
}

.ipn-login{
  width: 100%;
  padding: 7px 5px;
  outline: none;
}

.btn-gg{
  padding: 3px 5px;
  background-color: rgb(226, 224, 224);
  border: none;
}
.btn-gg:focus{
  outline: none;
}

.btn-gg i{
  font-size: 24px;
  color: #000;
}
.btn-gg span{
  margin-left: 30px;
  color: #000;
}
.login-txt{
  font-size: 24px;
  color: #f9502f;
}
.wrong-input{
  border-color: red;
}
.txt-warning {
  margin-top: 3px;
  color: red;
  font-size: 14px;
}
.logout{
  color: #000;
}
.list-group-item:hover{
  background-color: rgb(185, 185, 185);
  cursor: pointer;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

