.row{
    width: 100%
}
.navbar{
    font-size: 15px;
    background-color: #f9502f;
    color: #fff;
    height: auto;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
}
.form-search{
    width: 80%;
    padding: 0.5rem;
    border: none;
    outline: none
    
}
.form-inline{
    border: 1px solid #f9502f;
    border-radius: 2px;
    background-color: #fff;
}
.btn-search{
    border: none;
    border-radius: 3px;
    padding: 0.1rem;
    width: 60px;
    color: #fff;
    background-color: #f9502f;
}

i {
    color: #fff;
    height: 100%;
    font-size: 24px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ffd900;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.logo-cart {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt {
    color: #000;
}
.cart-txt{
    font-size: 18px;
}
.go-to-cart{
    font-size: 18px;
    cursor: pointer;
}