.row{
    width: 100%
}
.navbar{
    font-size: 15px;
    position: fixed;
    background-color: #f53d2d;
    color: #fff;
    height: auto;
}
.form-search{
    width: 80%;
    padding: 0.5rem;
    border: none;
    outline: none
    
}
.form-inline{
    border: 1px solid #f53d2d;
    border-radius: 2px;
    background-color: #fff;
}
.btn-search{
    border: none;
    border-radius: 3px;
    background-color: #f53d2d;
    padding: 0.3rem;
    width: 60px;
    color: #fff;
}

