.order-page{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1000px;
    padding: 15px 20px;
    box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
}

.order-header{
    position: sticky;
    position: -webkit-sticky;
    top: 57px;
    z-index: 1000;
    padding: 15px 15px 0px 25px;
    background-color: #fff;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
}
.order-tab {
    display: flex;
}
.label-txt-underlined{
    width: 80px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.order-list-pannel-container{
    background-color: #fff;
    padding: 15px 25px;
}
.order-list-header{
    position: sticky;
    top: 110px;
    background-color: #fff;
    padding: 15px 25px;
}
.order-list-tab{
    display: flex;
    background-color: #f6f6f6;
    padding: 7px 14px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
}
.order-list-products{
    background-color: #fff;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}
.edit-product-page{
    background-color: #fff;
    padding: 15px 25px;
}
.center{
    display: flex;
    justify-content: center;
}
.first{
    flex: 1.2;
}
.second{
    flex: 0.5;
}

.third{
    flex: 0.5
}

.fourth{
    flex: 0.5;
}
.fifth{
    flex: 0.5;
}
.sixth{
    flex: 1;
}
.txt-color{
    color: #757575
}
.i-trash{
    font-size: 20px;
    cursor: pointer;
}