.product {
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}

.p-detail {
    background-color: #fff;
    border-radius: 3px;
    padding: 13px;
}

.p-container {
    margin-top: 100px;
    height: 100%;
    padding: 5px;
}

.p-des {
    background-color: #fff;
    padding: 13px;
    width: 100%;
}

.p-l-rel {
    max-width: 230px;
    max-height: 240px;
}

.p-rel-cgr {
    margin-bottom: 100px;
}
.p-price-txt{
    color: #d0011b;
    font-size: 28px;
}

.ipn-quantity{
    text-align: center;
}

.txt-label{
    color: #757575
}
.txt-small{
    margin-left: 10px;
    font-size: 0.75rem;

}
.height_203{
    height: 203px;
    display: flex;
    align-items: center;
}
.height_81{
    height: 81px;
    display: flex;
    align-items: center;
}
.price-discount{
    color: #757575;
    margin-right: 10px;
}
.price-discount-product{
    color: #757575;
    font-size: 1rem;
    margin-left: 20px;
}
.category-name{
    font-size: 14px;
    color: #666;
}
.h-42{
    width: 200px;
    height: 42px;
    display: block;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.shop-info{
    display: flex;
}

.shop-profile{
    display: flex;
    align-items: center;
    line-height: 2rem;
    border-right: 1px solid #F5F5F5;
    flex-grow: 1;
}
.shop-address{
    padding-top: 3px;
    line-height: 2.3rem;
    flex-grow: 3;
}
.txt-adabab{
    color: #adabab;
    margin-right: 0.625rem;
}

.txt-value{
    color: #ee4d2d;
}