.product {
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}

.p-detail {
    background-color: #fff;
    border-radius: 3px;
    padding: 13px;
}

.p-container {
    margin-top: 100px;
    height: 100%;
    padding: 5px;
}

.p-des {
    background-color: #fff;
    padding: 13px;
}

.p-l-rel {
    max-width: 230px;
    max-height: 240px;
}

.p-rel-cgr {
    margin-bottom: 100px;
}
.p-price-txt{
    color: #d0011b;
    font-size: 28px;
}

.ipn-quantity{
    text-align: center;
}

.txt-label{
    color: #757575
}
.txt-small{
    margin-left: 10px;
    font-size: 0.75rem;

}
.height_203{
    height: 203px;
    display: flex;
    align-items: center;
}
.height_81{
    height: 81px;
    display: flex;
    align-items: center;
}
.price-discount{
    color: #757575;
    margin-right: 10px;
}
.price-discount-product{
    color: #757575;
    font-size: 1rem;
    margin-left: 20px;
}